body{
  background:#fff;
  background-attachment:fixed;
  cursor:url(/assets/normal.cur),auto;
}
a{
  background-color:transparent;
  text-decoration:none;
  cursor:url(/assets/texto.cur),auto;
}
a:hover{outline:none}
a:active{cursor:url(/assets/work.cur),alias}